@import "../../../variables";

.inputWrap {
   position: relative;
   border: 1px solid $border-color;
   margin-bottom: 30px;
   border-radius: 10px;
   border-top: none;
   opacity: 0.7;
   transition: 0.3s;

   &::after {
      position: absolute;
      top: 0;
      height: 15px;
      border-top: 1px solid $border-color;
      width: 20px;
      left: -1px;
      content: "";
      border-radius: 10px 0 0 0;
      transition: 0.3s;
   }

   .placeholder {
      position: absolute;
      left: 20px;
      top: 0px;
      color: $color;
      font-weight: 600;
      letter-spacing: 0.09em;
      opacity: 0.7;
      z-index: -1;
      transition: font-size 0.3s linear, top 0.3s linear, line-height 0.3s linear;
      padding: 0 10px;
      background: transparent;
      border-radius: 4px;
   }

   .topBorder {
      position: absolute;
      right: -1px;
      top: 0;
      border-radius: 0 10px 0 0;
      height: 15px;
      border-top: 1px solid $border-color;
      transition: .1s;
   }

   &:focus-within {
      opacity: 1;
      &::after {
         width: 20px;
      }
      .placeholder {
        top: 0px;
      }
   }

   &.notEmpty {
    .placeholder {
        opacity: 1 !important;
        top: -6px !important;
        z-index: 100 !important;
        line-height: 10px !important;
     }
   }
}

.input {
   border: none;
   background: transparent;
   color: $color;
   font-weight: 600;
   font-size: 18px;
   line-height: 60px;
   letter-spacing: 0.09em;
   width: 100%;

   padding: 0 20px;
   z-index: 10;
   transition: 0.3s;

   &:focus {
      outline: none;
   }

   &::placeholder {
      color: $color;
      opacity: 1;
   }
}

.inputBtn {
   position: absolute;
   top: 23px;
   right: 25px;
   background: transparent;
   border: none;
   opacity: 0;
   transition: 0.15s linear;
   cursor: pointer;

   &.active {
      opacity: 1;
   }
}
