@import "../../variables";

.loginPage {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .description {
      position: relative;
      z-index: 10;

      .title {
         font-weight: 600;
         font-size: 58px;
         line-height: 77px;
         max-width: 487px;
         margin-bottom: 70px;
      }

      .text {
         font-weight: 400;
         font-size: 23px;
         line-height: 28px;
         width: 310px;

         a {
            color: #4461f2;
            font-weight: 600;
         }
      }
   }

   .imageWrap {
      position: relative;
      width: 200px;
      height: 200px;

      &::before {
         width: 458px;
         height: 458px;
         background: #4461f2;
         content: "";
         position: absolute;
         top: -160px;
         left: -260px;
         border-radius: 100%;
         filter: blur(272.5px);
         opacity: 0.6;
      }

      &::after {
         width: 405px;
         height: 405px;
         background: #dda82a;
         content: "";
         position: absolute;
         top: 125px;
         left: -5px;
         border-radius: 100%;
         filter: blur(272.5px);
         opacity: 0.6;
      }

      img {
         position: absolute;
         top: -250px;
         left: -200px;
         z-index: 1;
         width: 720px;
         transition: 0.1s linear;
      }
   }

   .nav {
      width: 225px;
      margin: 0 auto 5px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
   }

   .line {
      position: relative;
      width: 100%;
      max-width: 225px;
      margin: 0 auto;
      margin-bottom: 145px;
      height: 2px;

      .activeUnderLine {
         display: block;
         height: 2px;
         border-radius: 2px;
         background: #4461f2;
         transition: 0.3s;
      }
   }

   .navBtn {
      color: $color;
      transition: 0.3s linear;
      font-weight: 600;
      &.active {
         color: #4461f2;
      }
   }
}
