@import "./variables";


.App {
  background: $background-color;
  min-height: 100vh;
  transition: background 200ms linear;
  color: $color;  
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .page-wrap {
    width: 400px;
    min-height: 650px;
    z-index: 10;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
}
